@model OnlineLibrary.Domain.DTO.BorrowingCartDTO
﻿@using Microsoft.Extensions.Options
@inject IOptions<StripeSettings> Stripe

@{
    ViewData["Title"] = "My Borrowing Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>My Borrowing Cart</h1>
@if (Model.NumBorrowedBooks > 0){
<form asp-controller="BorrowingCarts" asp-action="PayOrder" method="post">
    <article>
        <script src="https://checkout.stripe.com/checkout.js"
                class="stripe-button"
                data-key="@Stripe.Value.PublishableKey"
                data-locale="auto"
                data-description="EShop Application Payment"
                data-amount="@(Math.Max(1.0,Model.NumBorrowedBooks * 0.5) * 100)"
                    data-label="Pay $@(Math.Max(1.0, Model.NumBorrowedBooks * 0.5))">
        </script>
    </article>
</form>
}
@if (Model.BooksInCart != null && Model.BooksInCart.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Book Title</th>
                <th>Author</th>
                <th>ISBN</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var bookInCart in Model.BooksInCart)
            {
                <tr>
                    <td>@bookInCart?.Book?.Title</td>
                    <td>@bookInCart?.Book?.Author?.Name</td>
                    <td>@bookInCart?.Book?.ISBN</td>
                    <td><a asp-action="RemoveFromCart" asp-route-id="@bookInCart?.Id">Remove from cart</a></td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Your borrowing cart is empty.</p>
}