@model OnlineLibrary.Domain.Models.RelationalModels.BookInBorrowingCart

@{
    ViewData["Title"] = "AddToCart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Add to Cart Confirmation</h1>

<div>
    <h4>Are you sure you want to add this book to your cart?</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.Description)
        </dd>
    </dl>
</div>
<div>
    <form asp-action="AddToCartConfirmed" method="post">
        <input type="hidden" asp-for="BookId" />
        <button type="submit" class="btn btn-primary">Yes, add to cart</button>
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </form>
</div>