@model OnlineLibrary.Domain.DTO.BorrowingCartDTO

@{
    ViewData["Title"] = "My Borrowing Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>My Borrowing Cart</h1>

@if (Model.BooksInCart != null && Model.BooksInCart.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Book Title</th>
                <th>Author</th>
                <th>ISBN</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var bookInCart in Model.BooksInCart)
            {
                <tr>
                    <td>@bookInCart.Book.Title</td>
                    <td>@bookInCart.Book.Author.Name</td>
                    <td>@bookInCart.Book.ISBN</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Your borrowing cart is empty.</p>
}