@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model AdminApplication.Models.BorrowingHistory

<div class="container">
    <div>
        <p>History for @Model.Member?.UserName</p>
    </div>

    @{
        var sortedBooks = Model.Books?
            .OrderByDescending(b => !b.Returned) // Orders with unreturned books first
            .ThenByDescending(b => b.Book != null) // Orders with at least one book next
            .ToList();
    }

    @for(int i=0;i<sortedBooks?.Count(); i++)
    {
        var item = sortedBooks?.ElementAt(i).Book;
        var isReturned = sortedBooks?.ElementAt(i).Returned; // Assuming Returned is a property in your model
        if(i % 3 == 0)
        {
            @:<div class="row">
        }
        <div class="col-3 m-4">

            <div class="card" style="width: 18rem; height: 35rem">
                <img class="card-img-top" src="@item?.ImageUrl" alt="Book image cap">
                <div class="card-body">
                    <h5 class="card-title">@item?.Title</h5>
                    <p class="card-text">@item?.Description</p>
                    <h6>@item?.Author</h6>
                    <h6>@item?.ISBN</h6>
                    <p class="card-text">
                        @if(isReturned == true)
                        {
                            <span class="text-success">Returned</span>
                        }
                        else
                        {
                            <span class="text-danger">Not Returned</span>
                        }
                    </p>
                </div>

            </div>
        </div>

        if(i % 3 == 2)
        {
            @:</div>
        }
    }
</div>
